/* * {
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: bold;
} */

#header {
  display: flex;
  justify-content: flex-start;
  color: dodgerblue;
  border-bottom: 1px solid dodgerblue;
}

h1 {
  margin: 0;
}

.section-header {
  display: flex;
  justify-content: center;
  color: dodgerblue;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.prize-card {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 110px;
  border: 1px solid dodgerblue;
}

.blue {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: dodgerblue;
  color: white;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: dodgerblue;
  color: white;
  height: 50px;
  width: 50px;
}

.user-card {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 150px;
  /* border: 1px solid dodgerblue; */
}

.blue-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: dodgerblue;
  border: 1px solid dodgerblue;
  border-bottom: none;
}

.counter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 1px solid dodgerblue;
  flex-wrap: wrap;
}

.button-row {
  display: flex;
  justify-content: space-between;
  color: dodgerblue;
}

button {
  display: flex;
  /* flex: 1; */
  background-color: dodgerblue;
  color: white;
}


p {
  display: flex;
  /* flex: 8; */
  margin: 0;
}




@media only screen and (max-width: 600px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .prize-card {
    margin: 20px;
  }
  .user-card {
    margin: 20px;
  }
}
